<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-sm-12 box-sub">
            <div class="title">
                <h2>SPOT GPS</h2>
            </div>
            <div class="row">
                <div class="col-xs-5 text-xs-right">
                    <label for="company" class="control-label">Spot ID</label>
                </div>
                <div class="col-xs-7">
                    <div class="input-group">
                        <input type="text" class="form-control white-field">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">FIND SPOT</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 text-xs-right">
                    <label for="Name" class="control-label">Name</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="Name" name="Name" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 text-xs-right">
                    <label for="company" class="control-label">Battery</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="Battery" name="Battery" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 text-xs-right">
                    <label for="Description" class="control-label">Last Contact</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" placeholder="12:00:00 am" id="LastContact" name="LastContact" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 text-xs-right">
                    <label for="Description" class="control-label">Last Locator</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" placeholder="0 0" id="LastLocator" name="LastLocator" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-5 text-xs-right">
                    <label for="Description" class="control-label">Model</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="Model" name="Model" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>