@*@using KarmicEnergy.Web.Areas.Customer.ViewModels.Tank

@model TankModelViewModel*@

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-5 divImageTankModel">
            <img id="imgTankModel" src="#" onerror="this.style.display='none'">
        </div>
        <div class="col-xs-7">
            <div id="divHeight" class="form-group">
                <div class="col-xs-5 text-xs-right">
                    <label class="control-label">Height</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="height" name="height" type="text" disabled>
                </div>
            </div>

            <div id="divWidth" class="form-group">
                <div class="col-xs-5 text-xs-right">
                    <label for="Description" class="control-label">Width</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="width" name="width" type="text" disabled>
                </div>
            </div>

            <div id="divLength" class="form-group">
                <div class="col-xs-5 text-xs-right">
                    <label for="Description" class="control-label">Length</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="length" name="length" type="text" disabled>
                </div>
            </div>

            <div id="divMinDistance" class="form-group">
                <div class="col-xs-5 text-xs-right">
                    <label for="Description" class="control-label">min distance</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="mindistance" name="mindistance" type="text" disabled>
                </div>
            </div>

            <div id="divMaxDistance" class="form-group">
                <div class="col-xs-5 text-xs-right">
                    <label for="Description" class="control-label">max distance</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" id="maxdistance" name="maxdistance" type="text" disabled>
                </div>
            </div>
        </div>
    </div>
</div>