@using KarmicEnergy.Web.Areas.Customer.ViewModels.Tank
@using Munizoft.Extensions
@using Munizoft.MVC.Helpers
@using GridMvc.Html

@model List<ListViewModel>

@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Tank - Dashboard";
}

@Html.Hidden("hfCustomerId", ViewBag.CustomerId)

<div id="tank-dashboard">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/sparkline")
    <script type="text/javascript">
        $(function () {
            showLoading();
            getTanks();
            hideLoading();
        });
    </script>
}