<div id="divLoading" style="display:none; position:absolute; width:100px; height:100px; left:50%; top:50%; margin-left:-50px; margin-top:-50px;">
    <img id="loadingImg" alt="" src="~/images/logo-loader.gif" style="width:110px; height:110px;" />
</div>
