@{
    Layout = "~/Views/Shared/_ExternalMaster.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="login-box-body">
    <p>
        Please check your email to reset your password.
    </p>
</div>