<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <clear />
    <add name="KEConnection" connectionString="Data Source=.;Initial Catalog=KESite2;User=sa;password=muniz11$;Integrated Security=false;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Master:Url" value="http://54.187.189.103/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Site:Id" value="130b08f4-9bed-42b5-9c14-40185a950bed" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
</configuration>