@using Munizoft.Extensions
@using Munizoft.MVC.Helpers
@using KarmicEnergy.Web.Extensions
@using KarmicEnergy.Web.Areas.Admin.ViewModels.Sync
@using GridMvc.Html

@model List<ListViewModel>

@{
    ViewBag.Title = "Sync";
}

@Styles.Render("~/Content/gridmvccss")

<div class="text-center">
    @Html.NoEncodeActionLink("<span>SYNC</span>", "Sync", "Sync", "Sync", routeValues: new { area = "Admin" }, htmlAttributes: new { @class = "btn" })
</div>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Action).Titled("Action")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.StartDateLocal).Titled("Start")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.EndDateLocal).Titled("End")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.DurationMin).Titled("Duration (min)")
        .Sortable(true)
        .Filterable(true);

}).WithPaging(10).Sortable(true).Filterable().WithMultipleFilters()

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
}